<% include partials/header %>

<div class="container mt-3">
    <div class="jumbotron py-3 text-center">
        <h1 class="display-4"><%= user.name %></h1>
        <p class="lead">
            <p><span class="font-weight-bold">Slapyvardis: </span><%= user.username %></p>
            <p><span class="font-weight-bold">Vardas: </span><%= user.name %></p>
            <p><span class="font-weight-bold">El. paštas: </span><%= user.email %></p>
            <p><span class="font-weight-bold">Miestas: </span><%= user.address.city %></p>
            <p><span class="font-weight-bold">Įmonė: </span><%= user.company.name %></p>
        </p>
        
        <a class="btn btn-outline-success btn-md mt-3" href="/posts" role="button">Rodyti visus pranešimus</a>
    </div>
    
        
    
    <div class="card">
        <% posts.forEach(function(post){
            if (post.userId == user.id) { %>
                <div class="card-header">
                    <%= post.title.toUpperCase() %>
                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p><%= post.body %></p>
                    </blockquote>
                </div>
        <% }}) %>
    </div>
    
</div>
<% include partials/footer %>